
.header {
    background: black;

}
header img{
    width: 155px;
    height: 99px;
    
}
header span{
    left: 1370px;
    position: relative;
    color:white;
}
header a{
    text-decoration: none;
}
#side{
    width: 180px;
    height: 70px;
    position: relative;
    top: 10px;
}
#slidetext{
    position: relative;
    top: -130px;
    color: black;
    right: -330px;
    font-family: Courier, monospace;
}
.menu{
    background-color: #000;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
    position: relative;
    left: 105px;
    position: relative;
    top: 25px;
}
.ul{
    list-style: none;
    display: flex;
}
.menu_item{
    line-height: 58px;
    letter-spacing: .092em;
    text-transform: uppercase;
    height: 48px;
    padding: 0 10px;
    background-color: #000;
    overflow: hidden;
    color: #fff;
    width: 250px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.slider{
    margin: 2%;
    padding: 100px;
    display: inline-block;
}
.slider img{
    height: 60vh;
    width: 35vw;
    display: inline-block;
}
.slider_2{
    display: inline-block;
    position: relative;
    top: -30px;
    right: 150px;
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 15px #999;
    color: transparent;
    transition: all .5s;
    font-family: Georgia, serif;
    border-left:3px #000 double;
    border-bottom:3px #000 double;
    width: 500px;
    padding: 5px 0 5px 15px;
    margin:50px 0 50px 150px;
}
.slider_2:hover{
    text-shadow: 0 0 0 #333;
}
.koleso {
    position: relative;
    left: 150px;
    width:400px;
    min-height:300px;
    background:#fff;
    font-size:16px;
    font-weight:300;
    float: left;
    clear:none
}
.vtulka {
    position: relative;
    left: 190px;
    width:400px;
    min-height:300px;
    background:#fff;
    font-size:16px;
    font-weight:300;
    float: left;
    clear:none
}
.vilka {
    position: relative;
    left: 190px;
    width:500px;
    min-height:400px;
    background:#fff;
    font-size:16px;
    font-weight:300;
    float: left;
    clear:none
}
.searchbar img{
    position: relative;
    right: 30px;
} 
.searchbar form {
    width:500px;
    margin:auto;
    margin-top: 50px;
    border-width: 5px;
    border-radius: 1px;
    border: 10px black;
  }
.searchbar input{
  padding:4px 10px;
  border:0;
  font-size:16px;
  }
.search {
  width: 75%;
  }
.submit{
  width: 70px;
  background-color: black;
  color:#ffffff;
  }

.sidepanel{
    position:fixed;
    left:60px;top:240px;
    height:400px;
    width:25px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.sidepanel__text{
    width:120px;
    height:120px;
    font-size:15px
}
.sidepanel__text span{
    display:flex;
    transform:rotate(-90deg) translateX(-50px); /* поворачивем текст*/
}
.sidepanel__divider{
    width:3px;
    height:165px;
    background-color:#000
}
.sidepanel__icon{
    width:24px;
    height:24px
}
.sidepanel__icon img{
    width:100%
}
.sale_text{
    position: relative;
    top: 150px;
    left: 150px;
    display: inline-block;
}
.promotion__timer{
    width:50%;
    display: inline-block;
    position: relative;
    left: 250px;
    top: 110px;
}
.promotion__timer .title{
    text-align:right
}
.promotion__timer .timer{
    margin-top:60px;
    padding-left:95px;
    display:flex;
    justify-content:space-between;
    align-items:center
}
.promotion__timer .timer__block{
    width:102px;
    height:120px;
    background:#fff;
    box-shadow:0 4px 20px rgba(0,0,0,.25);
    font-size:16px;
    font-weight:300;
    text-align:center;
}
.promotion__timer .timer__block span{
    display:block;
    margin-top:20px;
    margin-bottom:5px;
    font-size:49px;
    font-weight:700;
}
.modal{
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5);
}
.modal_dialog{
    max-width:500px;
    margin:40px auto;
}
.modal_content{
    position:relative;
    width:100%;
    padding:40px;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2);
    border-radius:4px;
    max-height:80vh;
    overflow-y:auto;
}
.modal_close{
    position:absolute;
    top:8px;
    right:14px;
    font-size:30px;
    color:#000;
    opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer
}
.modal_title{
    text-align:center;
    font-size:22px;
    text-transform:uppercase;
    position: relative;
    top: -20px;
    
}
.modal_input{
    display:block;
    margin:20px auto 20px auto;
    width:280px;
    height:80px;
    background:#fff;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    border:none;
    font-size:18px;
    text-align:center;
    padding:0 20px;
    outline:0;
}
.modal_btn{
    position: relative;
    top: 10px;
    left: 0px;
    display:block;
    width:150px;
    margin:0 auto;
    background-color: #000;
    color: #fff;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.line {
    border: 1px solid black;
    width: 480px;
    position: relative;
    left: 550px;
}
.last_line {
    border: 1px solid black;
    width: 480px;
    position: relative;
    left: 550px;
    top: 200px;
}